* {
    margin:0;
    box-sizing: border-box;
}

.logo{
    background-color: #222F3E;
    height: 50px;
}

.menu{
    background-color: #354758;
    height: 30px;
    
}

header img {
    width: 120px;
    
    
}

header div {
    padding: 5px 32px;
}

.menu span {
    color: white;
    font-family: Arial;
    margin-right: 15px;
}

main {
    padding: 32px;
    background-color: #EAEDED;
}

.giftcards {
    background-color: #F56600;
    margin-bottom: 25px;
    height: 30px;
    font-family: Arial;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.giftguides {
    background-image: url(fotosito/bg-image.png);
    height: 195px;
    color: white;
    font-family: Arial;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.giftguides h1, h3 {
    padding: 10px;
}

.quattrofoto {
    background-color: white;
    margin-top: 25px;
    height: 470px;
    padding: 18px;
    
    
}

#titlecont {
    
    height: 35px;
    padding-bottom: 5px;
    display: block;
}

#titlecont span {
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.Shopn {
    font-size: smaller;
    color: #017083;
}

.img {
    object-fit: cover;
    width: 300px;
    height: 370px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.flexy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}



.extra {
    height: 380px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    padding:20px;
    width: 350px;
    background-color: white;
}

.titlecard {
    
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    font-size: 22px;
    margin-bottom: 10px;
}



.riga {
    
    height: 120px;
    display: flex;
    justify-content: space-around;
}


.finale {
    height: 50px;
}

.finale span {
    padding-left: 6px;
}

.singole {
    width: 140px;
    
}

.finale {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-content: center;
    color: #017185;
}

.singole img {
    width: 100%;
}
.singole span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.vr {
    height: 470px;
    margin-top: 35px;
}

.vr img {
    width: 100%;
    
}

#titlecont2 span {
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    

}

#titlecont2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backtop {
    background-color: #354758;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backtop a {
    color: white;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.final-logo {
    background-color: #222F3E;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-logo img {
    width: 200px;
}